@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#000000;
    --color-secundario:#6196A6;
    --color-terciario: #A4CE95;
    --color-hover: #272727;


    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;

}




* {
    padding: 0;
    margin: 0;
}


body {
    box-sizing: border-box;
    background-color:var(--color-primario);
    color: var(--color-secundario);   
}

.header{
    padding: 2% 0% 0% 15%;


}

.header__menu{
    display: flex;
    gap: 80px;

}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;



}

.Presentacion{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.Presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque{

    color: var(--color-terciario);
}


.Presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.Presentacion__Enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.Presentacion__enlaces_subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}


.Presentacion__enlaces__link{
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
    
    
}
.Presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}
.Presentacion__imagen{
    width: 50%;
}




.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;


}
@media (max-width: 1200px){
    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }
    .Presentacion{
        flex-direction: column-reverse;
        padding: 5%;

    }
    .Presentacion__contenido{
        width: auto;
    }

}